{
	"auto_upgrade_last_run": null,
	"bootstrapped": true,
	"in_process_packages":
	[
	],
	"installed_packages":
	[
{% for package in sublime_packages %}
		{{ "\"" + package + "\"," if not loop.last else "\"" + package + "\"" }}
{% endfor %}
	],
}
